#encoding UTF-8
        var R;
        window.onload = function () {
            R = Raphael("paper", 300, 300);
            var attr = {
                fill: "#BEC1C3",
                stroke: "#666",
                "stroke-width": 1,
                "stroke-linejoin": "round"
            };

            var france = {};

layeranalyse = [
#for $line in $data[:-1:]
            {"areaname": "$line['nom_dept'].replace("-","").replace("'","")", "svg": "$line['svg']"},
#end for
#for $line in $data[-1::1]
            {"areaname": "$line['nom_dept'].replace("-","").replace("'","")", "svg": "$line['svg']"}
#end for
];

for (i in layeranalyse){
    france[layeranalyse[i].areaname] = R.path(layeranalyse[i].svg).attr(attr);
}

            var current = null;
            for (var dept in france) {
                france[dept].color = Raphael.getColor();
                (function (st, dept) {
                    st[0].style.cursor = "pointer";
                    st[0].onmouseover = function () {
                        current && france[current].animate({fill: "#BEC1C3", stroke: "#666"}, 500) && (document.getElementById(current).style.display = "");
                        st.animate({fill: st.color, stroke: "#ccc"}, 500);
                        st.toFront();
                        R.safari();
                        document.getElementById(dept).style.display = "block";
                        current = dept;
                    };
                    st[0].onmouseout = function () {
                        st.animate({fill: "#BEC1C3", stroke: "#666"}, 500);
                        st.toBack();
                        R.safari();
                    };
                    if (dept == "ain") {
                        st[0].onmouseover();
                    }
                })(france[dept], dept);
            }

letters = [
#for $letter in $letters[:-1:]
            {"svg":"$letter['path']", "x": $letter['x'], "y": $letter['y']},
#end for
#for $letter in $letters[-1::1]
            {"svg":"$letter['path']", "x": $letter['x'], "y": $letter['y']}
#end for
];

for (i in letters){
    R.path(letters[i].svg).translate( letters[i].x, letters[i].y);
}

        };

