            #canvas {
                height: 300px;
                left: 50%;
                margin: -150px 0 0 -300px;
                position: absolute;
                top: 50%;
                width: 600px;
            }
            #paper {
                height: 300px;
                left: 0;
                position: absolute;
                top: 0;
                width: 290px;
            }
#ain, #aisne, #allier, #alpesdehauteprovence, #hautesalpes, #alpesmaritimes, #ardeche, #ardennes, #ariege, #aube, #aude, #aveyron, #bouchesdurhone, #calvados, #cantal, #charente, #charentemaritime, #cher, #correze, #cotedor, #cotesdarmor, #creuse, #dordogne, #doubs, #drome, #eure, #eureetloir, #finistere, #corsedusud, #hautecorse, #gard, #hautegaronne, #gers, #gironde, #herault, #illeetvilaine, #indre, #indreetloire, #isere, #jura, #landes, #loiretcher, #loire, #hauteloire, #loireatlantique, #loiret, #lot, #lotetgaronne, #lozere, #maineetloire, #manche, #marne, #hautemarne, #mayenne, #meurtheetmoselle, #meuse, #morbihan, #moselle, #nievre, #nord, #oise, #orne, #pasdecalais, #puydedome, #pyreneesatlantiques, #hautespyrenees, #pyreneesorientales, #basrhin, #hautrhin, #rhone, #hautesaone, #saoneetloire, #sarthe, #savoie, #hautesavoie, #paris, #seinemaritime, #seineetmarne, #yvelines, #deuxsevres, #somme, #tarn, #tarnetgaronne, #var, #vaucluse, #vendee, #vienne, #hautevienne, #vosges, #yonne, #territoiredebelfort, #essonne, #hautsdeseine, #seinesaintdenis, #valdemarne, #valdoise {
                display: none;
                height: 300px;
                overflow: auto;
                position: absolute;
                right: 0;
                top: 0;
                width: 300px;
            }
            h2 {
                text-align: center;
            }

